﻿html,body
{
    width: 100%;
    height: 100%;
    border: 0px;
    overflow: auto;
}

body
{
    margin: 0px;
    padding: 0px;
    background: #E10A04 url('../images/backgroundx.png') repeat-x;
    font-family: Arial;
    color: #FFAEAE;
    font-size: 12px;
}

body,table,tr,td,div
{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

b
{
    color: #FFFFFF;
    font-weight: bold;
}

#Wrapper
{
    background: url('../images/background.png') no-repeat top center;
    min-height: 720px;
}



#Main,#Content,#Footer
{
    width: 980px;
    margin: 0 auto;
}

#DemoReturnButton
{
    position: relative;
    display: block;
    margin: 0 0 0 auto;
    width: 210px;
    height: 29px;
    text-indent: -9999px;
    background-image: url("file:///C|/Users/nilson junior/Desktop/sudoku/Includes/Image/ReturnButton.png");
}

#DemoReturnButton:hover
{
    background-image: url("file:///C|/Users/nilson junior/Desktop/sudoku/Includes/Image/ReturnButtonHover.png");
}

#PageTitle
{
    font-family: Segoe UI, Arial;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 33px;
}

a
{
    color: #FFAEAE;
    text-decoration: none;
}

a:hover
{
    color: #FFFFFF;
    text-decoration: none;
}

#Content
{
    float: left;
}

#Column1
{
    width: 300px;
    float: left;
}

#sudokuBoard
{
    /*width: 426px;*/
    margin-left: 40px;
    float: left;
    box-shadow: 0px 0px 30px #680301;
    -moz-box-shadow: 0px 0px 30px #680301;
    -webkit-box-shadow: 0 0 30px #680301;
}

#Column2
{
    width: 174px;
    margin-left: 40px;
    float: left;
}

#Footer
{
    margin-top: 600px;
    color: #910502;
}

#FooterDetails
{
    float: left;
    font-size: 11px;
}

#Copyright
{
    float: right;
    font-size: 10px;
}

td.boardCellGroupA,td.boardCellGroupB
{
    background-color: #940302;
}

td.boardCellGroupA td.boardCell
{
    width: 44px;
    height: 44px;
    border: 1px solid #00A1A1;
    background-color: #228378;
}

td.boardCellGroupB td.boardCell
{
    width: 44px;
    height: 44px;
    border: 1px solid #00A1A1;
    background-color: #045C66;
}

.staticValue
{
    font-family: Segoe UI, Arial;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    /*color: #6C0000;*/
}

.staticValue,.editValue
{
    width: 42px;
    height: 42px;
    padding: 0px;
    margin: 0px;
    /*border: 1px solid #228378;*/
}

.editValue:hover
{
    background: #8CAA25;
}

label
{
    position: relative;
    top: 3px;
    line-height: 24px;
    font-size: 15px;
    color: #FFFFFF;
}

select
{
    font-family: Arial;
    color: #999999;
    font-weight: normal;
    font-size: 12px;
    border-top: solid 1px #CCCCCC;
    border-left: solid 1px #E2E3EA;
    border-bottom: solid 1px #FFFFFF;
    border-right: solid 1px #E2E3EA;
    margin: 3px 0px;
    min-width: 100px;
    background: #FDFDFD;
}

#timeFinished
{
    font-family: Segoe UI, Arial;
    font-size: 46px;
    font-weight: bold;
    line-height: 40px;
}

.finishedLabel,#timeFinished
{
    color: #FBF2A8;
}

.editValue input
{
    font-family: Segoe UI, Arial;
    font-size: 30px;
    color: #FFFFFF;
    width: 44px;
    /*height: 44px;*/
    padding: 0px;
    border: 0px;
    background: none !important;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: -1px;
}
/*
input[type="submit"]
{
    font-family: Arial;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0px;
    min-width: 162px;
    min-height: 34px;
    background: url('../images/submitBackground.png') repeat-x;
    margin: 8px 0px;
    cursor: pointer;
}

input[type="submit"].gameControls
{
    font-family: Arial;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0px;
    min-width: 28px;
    min-height: 28px;
    background: url('../images/submitSmallBackground.png') repeat-x;
    margin: 8px 0px;
    padding: 2px 16px;
    cursor: pointer;
}
*/
.gameControlSet
{
    height: 142px;
    position: relative;
    top: -8px;
}

#buttonSolve
{
    margin-top: 119px;
    color: #FFAEAE;
}

#youWon
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background: url('../images/shade.png') repeat;
}

#youWon div
{
    width: 100%;
    background: rgba(126,146,29,0.9);
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    padding: 200px;
    margin: 100px auto 0px auto;
}

small
{
    font-size: 14px;
    color: #FFFD7B;
}

.noErrors
{
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

.errorsFound
{
    font-size: 18px;
    font-weight: bold;
    color: #ED823F;
}

.error
{
    border: 1px solid #ED823F;
}