/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

.menu {
    display: block;
    cursor: pointer;
    color: #555555;
    border-bottom: 1px dashed rgb(118, 118, 118);
    font-size: 18px;
    padding: 20px 25px;
    font-weight: 400;
    position: relative;
}

.menu:hover {
    color: #ff4c4c;
}

.top-nav {
    float: right;
    margin-top: 0;
}

ul.cl-effect-1 {
    display: none;
}

.top-nav ul {
    padding: 0;
    margin: 0;
    z-index: 999;
    width: 100%;
    left: 0;
}

.top-nav ul.cl-effect-1 li {
    display: block;
    text-align: center;
    background: rgba(220, 220, 220, 0.39);
    margin: 0;
}

.top-nav ul li a {
    font-size: 16px;
    padding: 1.5em 0;
    color: #000;
    font-weight: 800;
    display: block;
}

button#showRightPush {
    border: none;
    padding: 3px 0 0;
    outline: none;
    position: fixed;
    z-index: 1;
    background: none;
}

nav#cbp-spmenu-s2 {
    background: #FFF;
    text-align: center;
}

nav#cbp-spmenu-s2 a {
    color: #555555;
    display: block;
    padding: 20px 25px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    margin: 0;
    transition: .5s all;
    border-bottom: 1px dashed rgb(118, 118, 118);
    text-decoration: none;
}

nav#cbp-spmenu-s2 a:hover {
    text-decoration: none;
    background: none;
}

nav#cbp-spmenu-s2 a.active, nav#cbp-spmenu-s2 a:hover {
    color: #ff4c4c;
}

nav#cbp-spmenu-s2 h3 {
    background: #ff4c4c;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

.top-nav ul {
    padding: 0;
    margin: 0;
}

.top-nav ul li {
    display: block;
}

.header-top {
    padding-top: 1em;
}

.logo {
    text-align: center;
    margin: 10em 0 0 0;
}

span.menu {
    display: none;
}

.sub-header {
    margin: 6em 0 0 0;
}

.logo.two {
    text-align: center;
    margin: 1em 0 0 0;
}

.top-nav {
    float: left;
}

.header-logo {
    float: left;
    /*margin-left: 32em;*/
}

.search-form {
    float: right;
}

.search-form input[type="text"] {
    display: inline-block;
    background: url(../../web/images/search.png) no-repeat 18px 14px;
    border: solid 1px #000;
    margin: 0;
    outline: none;
    font-size: 14px;
    color: #000;
    padding: .7em .7em .7em 3em;
    width: 100%;
}

.header-grids {
    margin-top: 3em;
}

.header-grid-info a {
    text-decoration: none;
}

.header-grid {
    /*background: #FFF;*/
    padding: 2em 5em;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
}

.header-grid:hover {
    /*background: #a7cb24;*/
}

.gray:hover {
    /*background:#bfbfbf;*/
}

.blue:hover {
    background: #0099e5;
}

.header-grid:hover div.header-grid-img img {
    border-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.header-grid:hover div.header-grid-img h3 {
    color: #FFF;
}

.header-grid:hover div.header-grid-img p {
    color: #FFF;
}

.header-grid-img img {
    width: 75%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border: solid 10px #DADADA;
    border-left-color: #DADADA;
}

.header-grid-img h3 {
    font-size: 26px;
    color: #a7cb24;
    margin: 1em 0 0 0;
    text-transform: uppercase;
    font-weight: 600;
    cursor: text;
}

.blue-grid h3 {
    color: #0099e5;
}

.gray-grid h3 {
    color: #bfbfbf;
}

.header-grid-img p {
    color: #555555;
    font-size: 14px;
    padding: 1em 0 0 0;
    margin: 0;
    line-height: 1.8em;
    cursor: text;
}

/*------------------ Slider Part starts Here----------*/
/*--- slider-css --*/

.header-section {
    background: url(../img/bg1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 1000px;
    position: relative;
}

/*----welcome-section---------*/
div#Welcome {
    padding: 2.6em 0 3em 0;
}

.wecome-text {
    text-align: left;
}

.wecome-text span {
    color: #616161;
    font-size: 16px;
    line-height: 1.6em;
    margin: 1em 0;
    padding: 0;
    font-style: italic;
}

.wecome-text p {
    color: #999;
    font-size: 14px;
    line-height: 1.8em;
    font-family: 'Open Sans', sans-serif;
    margin: 1em 0;
    padding: 0;
}

.wecome-img {
    margin-top: 16px;
}

.wecome-text h1 {
    color: #ff4c4c;
    font-size: 4.4em;
    margin: 0 0 11px 0;
    font-family: 'Niconne', cursive;
}

.wecome-text lable {
    color: #1FBBA6;
}

.wecome-img img {
    width: 100%;
}

.wecome-button {
    margin-top: 2em;
}

/* Rotate */
a.button.rotate2 {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    text-decoration: none;
    color: #999;
    font-size: 1.2em;
    border: 1px solid #666;
    padding: 0.8em 1.6em;
    background: none;
    font-family: 'Open Sans', sans-serif;
}

a.button.rotate2:hover, a.button.rotate2:focus, a.button.rotate2:active {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
}

a.button.rotate2 span {
    background: url(../../web/images/arrow.png) no-repeat 0px 0px;
    width: 20px;
    height: 10px;
    display: inline-block;
    cursor: pointer;
    margin-right: 9px;
    vertical-align: middle;
    margin: 1px -3px 3px 13px;
}

a.button.rotate2:hover {
    border: 1px solid #ff4c4c;
    color: #444;
}

/*------start-slider-------*/
#testimonials {
    background: url(../../web/images/slide.png) repeat-y;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 300px;
}

article > div {
    text-align: center;
}

.wmuSlider {
    position: relative;
    overflow: hidden;
    min-height: 330px;
    text-align: center;
}

.wmuSlider .wmuSliderWrapper article {
    position: relative;
    text-align: center;
}

.wmuGallery .wmuGalleryImage {
    position: relative;
    text-align: center;
}

.wmuGallery .wmuGalleryImage img {
    max-width: 100%;
    width: auto;
    height: auto;
}

/* Default Skin */
.wmuGallery .wmuGalleryImage {
    margin-bottom: 10px;
}

.wmuSliderPrev, .wmuSliderNext {
    position: absolute;
    width: 29px;
    height: 37px;
    text-indent: -9999px;
    background: url(../../web/images/arrows.png) no-repeat;
    top: 40%;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wmuSliderPrev {
    background-position: 2px -0px;
    left: 212px;
}

.wmuSliderNext {
    background-position: -45px -0px;
    right: 199px;
}

.client-main {
    margin: 0 auto;
    width: 80%;
    padding: 10% 0;
}

.slide-text {
    width: 72%;
    margin: 0 auto;
}

.slide-text p {
    color: #fff;
    font-size: 1.7em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.9em;
    font-weight: 600;
}

article > div > span {
    text-align: center;
    padding: 1em 0 0 0;
    display: block;
}

article:nth-child(2) > div > span > a {
    color: #585C67;
    cursor: pointer;
    font-size: 1.2em;
}

article:nth-child(2) > div > span > a:hover {
    color: #C0B9CD;
}

/*--featured-section--*/
.featured-section {
    padding: 4em 0;
    background: #F7F7F7;
}

.services {
    background: #F7F7F7;
    padding: 3em 0;
}

.services h3 {
    font-size: 2.6em;
    color: #929292;
    line-height: 1.4em;
    margin: 0;
}

.events-featured-main:nth-child(3) {
    margin: 2em 0 0 0;
}

.feature-text a img:hover {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}

.featured-main {
    padding-top: 1.2em;
}

.featured-section h2 {
    color: #929292;
    font-size: 2em;
    margin: 0 0 11px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.feature-text img {
    width: 100%;
}

.feature-text h3 {
    font-size: 21px;
    color: #4A4A4A;
    margin: 1em 0;
    line-height: 1.3em;
}

.feature-text p {
    color: #999;
    font-size: 14px;
    margin: 0;
}

.feature-text-grids {
    margin-top: 2em;
}

.feature-text-left {
    float: left;
    width: 22%;
}

.feature-text-left img {
    width: 100%;
}

.feature-text-right {
    float: left;
    width: 72%;
    margin-left: 1em;
}

.feature-text-right h3 {
    font-size: 21px;
    color: #929292;
    margin: 0;
    text-transform: uppercase;
}

.feature-text-right h4 {
    font-size: 18px;
    color: #414242;
    margin: .5em 0;
}

.feature-text-right p {
    color: #999;
    font-size: 14px;
    margin: .5em 0 0 0;
}

ul.topic_grid {
    list-style: none;
    padding: 0;
}

.popular_topics1 {
    background: #DB2927;
}

/*** .Nav Class ************************/
.icon-minus-sign:after {
    content: "";
    background: url(../../web/images/plus.png) no-repeat;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 12px;
}

.accordation_menu label {
    line-height: 21px;
    font-weight: 600;
}

.icon-plus-sign:before {
    content: "";
    background: url(../../web/images/plus.png) no-repeat;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 12px;
}

.accordation_menu label {
    display: block;
    position: relative;
    padding: 6px 20px;
    cursor: pointer;
    z-index: 20;
    transition: background-color .7s;
    -webkit-transition: background-color .7s;
    -moz-transition: background-color .7s;
    -o-transition: background-color .7s;
    -ms-transition: background-color .7s;
    border: 1px solid #999;
}

.accordation_menu input {
    display: none;
}

/*** Right Icon ***/
.accordation_menu label i.i-right1,
.accordation_menu label i.i-right2 {
    float: right;
    margin-right: 15px;
    padding: 6px 0 0 0;
    transition: all .7s;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    -ms-transition: all .7s;
}

.accordation_menu label i.i-right2 {
    display: none;
}

.accordation_menu input:checked + label i.i-right1 {
    display: none;
}

.accordation_menu input:checked + label i.i-right2 {
    display: block;
}

/*** .content Class *********************/
.content {
    position: relative;
    height: 0px;
    margin-top: -1px;
    overflow: hidden;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.content h4 {
    padding: 8px 0 7px 15px;
}

.content h6 {
    padding: 8px 15px 10px 15px;
    margin: 10px;
    border-top: 1px solid #999999;
}

.content h6 i {
    padding: 0 5px;
    font-size: 10px;
}

.accordation_menu input:checked ~ div.content {
    height: 85px;
}

/*** For Change Animation Effects ****/
.accordation_menu input:checked ~ .content p {
    -webkit-animation: zoomIn .7s 1;
    animation: zoomIn .7s 1;
}

.accordation_menu input:checked ~ .content h6 {
    -webkit-animation: fadeIn 2s 1;
    animation: fadeIn 2s 1;
}

.accordation_menu a, .accordation_menu p {
    color: #919090;
}

.accordation_menu h4 {
    color: #01C675;
    padding: 15px 0 15px 15px;
    font-size: 1.2em;
    font-weight: 600;
}

.accordation_menu label {
    color: #444;
    font-size: 14px;
    font-weight: 300;
    background: #F7F7F7;
}

.accordation_menu label:hover {
    color: #000;
    background: #F7F7F7;
}

.accordation_menu label:hover .icon-plus-sign:before {
    content: "";
    background: url(../../web/images/minus.png) no-repeat;
    width: 10px;
    height: 3px;
    position: absolute;
    top: 16px;
}

.accordation_menu input:checked + label,
.accordation_menu input:checked + label:hover {
    border: 1px solid #999;
    color: #999;
    background: #F7F7F7;
}

span.m_5 {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    font-weight: 300;
}

h3.m_3 {
    font-size: 1.9em;
    font-weight: 600;
    color: #444;
    font-family: 'Open Sans', sans-serif;
}

.feature-accord {
    margin-top: -23px;
}

span.m_5:hover {
    text-decoration: none;
}

ul.news_list {
    padding: 2% 0 1% 4%;
    list-style: none;
    background: #F7F7F7;
}

ul.news_list li.date {
    float: left;
    width: 15.5%;
    border-right: 1px solid #CCC;
    padding-right: 3%;
    margin: 5% 4% 0% 0;
}

.date {
    line-height: 0.5em;
    font-size: 2em;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}

span.highlight, span.light_color {
    display: inline-block;
    font-size: 14px;
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

li.date_desc {
    float: left;
    width: 82.5%;
}

li.date_desc p {
    font-size: 14px;
    line-height: 1.8em;
}

/*-----About-section------*/
.header-section2 {
    background: url(../img/bg1.jpg) no-repeat 0px -131px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 128px;
    position: relative;
}

.header-top.bg {
    background: #ffd400;
}

.sub-header.two {
    padding: 0em 0;
    text-align: center;
    width: 58.4%;
    margin: 0 auto;
    position: absolute;
    left: 19%;
    top: 60.4%;
}

.logo.two {
    text-align: center;
    position: absolute;
    top: 14%;
    left: 31%;
}

.logo.two img {
    width: 75%;
}

/*-------About-section---------*/
.about-logo {
    margin: 7em 0 0 0;
}

.about-sub-header {
    margin: 2em 0;
}

.about-main {
    padding: 1em 0;
    background: #eaeef1;
}

.main-about {
    text-align: left;
    padding: 2em 0 2em 0;
}

.about-main h3 {
    font-size: 2.6em;
    color: #929292;
    font-weight: 600;
    line-height: 1.4em;
    margin: 0;
}

.about-main h4 {
    font-size: 1.3em;
    color: #555;
    margin: 1em 0;
    line-height: 1.4em;
}

.about-main p {
    color: #999;
    font-size: 14px;
    line-height: 1.8em;
    margin: 1em 0;
    padding: 0;
}

.about-grids {
    margin: 4em 0;
}

.about-grid img {
    width: 100%;
    border-radius: 50%;
    border: solid 4px #FFF;
}

.price {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 68px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    background: #ff4c4c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.about-grid .price {
    top: 33px;
    left: 17px;
}

.price span {
    font-size: 26px;
}

.about-grids-top:nth-child(2) {
    margin: 4em 0;
}

.about-grid h4 {
    font-size: 21px;
    color: #000;
    margin: 1em 0 0 0;
}

.about-grid p {
    color: #999;
    font-size: 14px;
    line-height: 1.8em;
    margin: 1em 0 0 0;
    padding: 0;
}

.weekday {
    background: url(../../web/images/m-bg.jpg) no-repeat 0px 0px;
    background-size: cover;
    padding: 4em 0;
}

.weekday-info h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    color: #FFF;
}

.weekday-grids {
    padding: 1em;
    background: rgba(0, 0, 0, 0.38);
    width: 80%;
    margin: 3em auto 0 auto;
}

.weekday-img {
    float: left;
    width: 16%;
    margin-right: 2em;
}

.weekday-img img {
    width: 100%;
    border: solid 4px #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.weekday-right {
    float: left;
    width: 80%;
    margin-top: 2em;
}

.weekday-right h4 {
    color: #FFF;
    font-size: 20px;
    margin: 0;
    font-weight: 600;
}

.weekday-right p {
    color: #FFF;
    font-size: 14px;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}

/*---*/
.main-img img {
    width: 100%;
}

.main-about h4 {
    font-size: 1.25em;
    color: #000;
    font-weight: 400;
    line-height: 1.4em;
    line-height: 1.9em;
    margin: 10px 0 15px 0;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    font-weight: 400;
}

.main-text p.para, p.para1 {
    font-size: 1em;
    color: #444;
    font-weight: 400;
    line-height: 1.8em;
    font-family: 'Open Sans', sans-serif;
}

.ourteam {
    background: #D6D6D6;
}

.team {
    padding: 3em 2em;
}

.ourteam h3 {
    font-size: 2.6em;
    color: #fff;
    font-weight: 600;
    line-height: 1.4em;
    margin: 0;
    padding: 48px 0 0 0;
    text-align: left;
}

.ourteam p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 1.5em;
    text-align: center;
}

.team h4 {
    font-size: 1.7em;
    font-weight: 600;
    color: #404040;
    text-align: center;
}

.team1 img {
    margin-left: 2em;
    max-width: 87%;
}

a.offer-btn span {
    background: url(../../web/images/arrow.png) no-repeat 0px 0px;
    width: 20px;
    height: 15px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin: 5px 4px 4px 0;
}

a.offer-btn {
    text-decoration: none;
    color: #ff4c4c;
    font-size: 1.1em;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
}

/*-- flexisel --*/
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
    display: none;
}

.nbs-flexisel-container {
    position: relative;
    max-width: 97%;
}

.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    text-align: center;
}

.nbs-flexisel-inner {
    overflow: hidden;
    margin: 0 auto;
}

.nbs-flexisel-item {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    line-height: 0px;
}

.nbs-flexisel-item > img {
    cursor: pointer;
    positon: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 250px;
    max-height: 250px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}

.nbs-flexisel-item p {
    padding: 10px;
}

.nbs-flexisel-item p a {
    color: #000;
    font-size: 1.2em;
}

.nbs-flexisel-item p a:hover {
    color: #6CC372;
}

.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 50px;
    height: 65px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    margin-top: -5em;
}

.nbs-flexisel-nav-left {
    left: -3em;
    background: url(../../web/images/arrows.png) no-repeat 0px 0px;
}

.nbs-flexisel-nav-right {
    right: -4em;
    background: url(../../web/images/arrows.png) no-repeat -32px 0px;
}

/*--------error-page----------*/
.Error-found {
    padding: 8em 0;
    background: #F7F7F7;
    text-align: center;
}

.error-page {
    padding: 6em 8em;
    border: 2px solid #A7A6A6;
    width: 54%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.error-page h3 {
    font-weight: 500;
    text-transform: uppercase;
    color: #A7A6A6;
    margin: 0;
    padding: 0 0 0em 0;
    font-size: 17em;
    letter-spacing: 4px;
}

.error-page h3 span {
    color: #ff4c4c;
}

.Error-found h4 {
    font-weight: 100;
    font-size: 6em;
    color: #A7A6A6;
    padding: 0;
    margin: 0;
    letter-spacing: 4px;
}

.Error-found p {
    font-weight: 500;
    font-size: 1.3em;
    color: #A7A6A6;
    padding: 0;
    margin: 0 0 10px 0;
}

a.back {
    background: none;
    outline: none;
    font-size: 1.2em;
    font-weight: 400;
    padding: 0;
    cursor: pointer;
    border: none;
    color: #ff4c4c;
}

.sale-box {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 130px;
    width: 143px;
    text-align: center;
    z-index: 0;
    right: 0;
}

.sale-box span.on_sale {
    font-size: 1.5em;
    color: #FFF;
    background: #ff4c4c;
    text-transform: uppercase;
    padding: 89px 43px 14px 1px;
    width: 370px;
    text-align: center;
    display: block;
    position: absolute;
    left: -47px;
    top: -41px;
    z-index: 1;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(40deg);
    font-family: 'Droid Serif', serif;
    box-shadow: 3px -4px 13px 3px rgba(0, 0, 0, 0.75);
    border-bottom: 4px solid #fff;
}

/*-----------Blog-----------*/
.blog-content-left {
    float: left;
    width: 73%;
}

.blog-content-right {
    float: right;
    width: 23.5%;
    margin-top: 1em;
}

.single-head h2 {
    color: #444;
    font-size: 1.87em;
    margin: 0.5em 0;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.single-head-img img {
    width: 100%;
}

.blog-artical-info-head h2 a {
    color: #444;
    font-size: 0.87em;
    margin: 0.5em 0;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.b-tag-weight ul {
    margin: 0;
    padding: 0;
}

.blog-artical-basicinfo {
    float: left;
    width: 12%;
}

.blog-artical-basicinfo ul {
    margin: 0;
    padding: 0;
}

.blog-artical-basicinfo li, .blog-artical-basicinfo li.post-date.one, .blog-artical-basicinfo li.post-date.two {
    width: 132px;
    height: 71px;
    text-align: center;
    margin: 10.7em auto 0 1em;
    list-style: none;
    color: #c71d1d;
    background: url(../../web/images/date.png) no-repeat 0px 0px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

.blog-artical-basicinfo li.post-date.one, .blog-artical-basicinfo li.post-date.two {
    margin: 7.8em auto 0 1em;
}

.post-date span {
    display: block;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
}

.post-date label {
    font-size: 15px;
    color: #fff;
    margin-top: -0.2em;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.post-date p {
    padding: 0.5em 0 0 0;
}

.blog {
    background: #F7F7F7;
}

.blog-content {
    margin: 1em 0 6em;
}

.blog-artical-info-head ul {
    padding: 0.6em;
    border: 1px solid #E7E4E4;
    border-right: 0;
    border-left: 0;
}

.blog-artical-info-head ul li {
    display: inline-block;
}

.blog-artical-info-head ul li span {
    height: 18px;
    width: 18px;
    display: inline-block;
    background: url(../../web/images/user.png) no-repeat 0px 0px;
    vertical-align: middle;
    margin-right: 0.5em;
}

.blog-artical-info-head ul li span.tag {
    background: url(../../web/images/tag.png) no-repeat 0px 0px;
}

.blog-artical-info-head ul li a, .blog-artical-info-head ul li {
    color: #444;
    font-size: 1em;
    display: inline-block;
    padding: 0 0.2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-family: 'Open Sans', sans-serif;
}

.blog-artical-info-head ul li a:hover {
    color: #000;
}

.blog-artical-info-text p {
    color: #444;
    line-height: 1.8em;
    margin: 1em 0;
    font-weight: 400;
    font-family: 'Opensans', sans-serif;
}

.blog-artical-info-text p a {
    color: #93c53e;
    margin-left: 0.4em;
    font-size: 0.875em;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
}

.blog-artical {
    margin-bottom: 2em;
}

.blog-artical-info-img img {
    width: 100%;
    margin-top: .4em;
}

/*----*/
.blog-content-right {

}

.b-search {
    position: relative;
    border: 1px solid #EEE;
    padding: 0.5em 0;
    background: #fff;
}

.b-search input[type="text"] {
    width: 80%;
    outline: none;
    padding: 0em 0.6em;
    font-size: 1em;
    color: #555;
    position: relative;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

.b-search input[type="submit"] {
    background: url(../../web/images/search-icon2.png) no-repeat 0px 2px;
    border: none;
    height: 26px;
    width: 26px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    position: absolute;
    outline: none;
    cursor: pointer;
    top: 6px;
    right: 2px;
}

/*----//End-blog----*/
ul.dc_pagination {
    padding: 0;
    list-style: none;
    text-align: center;
}

ul.dc_pagination li:first-child {
    margin-left: 0px;
    text-transform: uppercase;
}

ul.dc_pagination li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    background: #444;
}

ul.dc_pagination li a {
    color: #fff;
    display: block;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
    font-size: 0.95em;
}

ul.dc_paginationA06 li a:hover, ul.dc_paginationA06 li a.current {
    background: #444;
    color: #FFF;
}

nav a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
}

nav a:hover,
nav a:focus {
    outline: none;
}

/* Effect 20: 3D side */
.cl-effect-20 a {
    line-height: 2em;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
}

.cl-effect-20 a span {
    position: relative;
    display: inline-block;
    padding: 3px 15px 0;
    background: #ff4c4c;
    font-size: 16px;
    box-shadow: inset 0 3px #444;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    transition: background 0.6s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.cl-effect-20 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #444;
    color: #fff;
    padding: 3px 15px 0;
    content: attr(data-hover);
    -webkit-transform: rotateX(270deg);
    -moz-transform: rotateX(270deg);
    transform: rotateX(270deg);
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    pointer-events: none;
}

.cl-effect-20 a:hover span,
.cl-effect-20 a:focus span {
    background: #444;
}

.cl-effect-20 a:hover span::before,
.cl-effect-20 a:focus span::before {
    -webkit-transform: rotateX(10deg);
    -moz-transform: rotateX(10deg);
    transform: rotateX(10deg);
}

a.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
}

img.zoom-img:hover {
    -webkit-transform: scale(1.15);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 750ms;
    -moz-transform: scale(1.15);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 750ms;
    overflow: hidden;
}

img.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.list.styled.arrow-list2 ul li {
    list-style: none;
    display: block;
    border-top: 1px solid #ddd;
}

.list.styled.arrow-list2 ul {
    padding: 0;
}

.list.styled.arrow-list2 ul li a {
    display: block;
    position: relative;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    vertical-align: middle;
    text-decoration: none;
    color: #444;
    margin: 0.5em 0;
    line-height: 1.5em;
    margin-top: 3px;
}

.list.styled.arrow-list2 ul li a:hover {
    color: #6380b3;
}

.list.styled.arrow-list2 ul li a img {
    margin-right: 10px;
}

.categories h3, .Archives h3 {
    text-shadow: none;
    font-size: 1.25em;
    color: #ff4c4c;
    font-weight: 500;
    text-transform: uppercase;
}

.product-head {
    padding: 0.5em 0;
    border-top: 1px solid #E0DDDD;
    border-bottom: 1px solid #E0DDDD;
    margin-bottom: 1em;
}

.product-head li a {
    color: #222;
    font-weight: 700;
    font-size: 0.875em;
    padding-bottom: 0.2em;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.product-head li {
    display: inline-block;
}

.product-head li.active-page {
    color: #444;
    font-size: 0.875em;
    padding-bottom: 0.2em;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-weight: 700;
}

/*--single----*/
.admin-main {
    background: #eee;
    padding: 10px 0em;
    margin-bottom: 12px;
}

.admin-main h4 {
    color: #333;
    margin: 0.5em 0 0.5em 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'OpenSans', sans-serif;
}

.admin-main h4 a {
    color: #ff4c4c;
    font-weight: 600;
}

.admin-text p {
    color: #999;
    margin: 0.5em 0;
    font-size: 13px;
    line-height: 1.5em;
    font-family: 'OpenSans', sans-serif;
}

.reply input[type="text"] {
    width: 48%;
    color: #898888;
    outline: none;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    padding: 10px 10px;
    margin: 0px 10px 1em 0px;
    border: solid 1px #D5D4D4;
    -webkit-appearance: none;
}

.reply textarea {
    resize: none;
    width: 98%;
    color: #898888;
    font-size: 16px;
    font-family: 'OpenSans', sans-serif;
    outline: none;
    padding: 10px 10px;
    border: solid 1px #D5D4D4;
    min-height: 12em;
    -webkit-appearance: none;
}

.reply h4 {
    font-size: 1.6em;
    margin-bottom: 1.2em;
    color: #4e4e4b;
    font-weight: 600;
}

.reply {
    margin-top: 3em;
}

.reply input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    background: #999;
    padding: 11px 20px;
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 1.2em;
    -webkit-appearance: none;
}

.reply input[type="submit"]:hover {
    background: #444;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.comments-main {
    border: 1px solid #D5D4D4;
    padding: 17px 0px;
    margin: 15px 0px;
}

.cmts-main-right h5 {
    font-size: 1em;
    color: #4e4e4b;
    margin: 0px;
    font-weight: 600;
}

.comments h4 {
    font-size: 1.6em;
    margin-bottom: 1.2em;
    color: #4e4e4b;
    font-weight: 600;
}

.cmts-main-left img {
    width: 100%;
}

.cmts-main-right p {
    font-size: 15px;
    color: #555;
    margin: 15px 0px;
}

.cmnts-left p {
    font-size: 13px;
    color: #999;
    font-weight: 600;
}

.cmnts-right a {
    padding: 6px 12px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    background: #999;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    outline: none;
}

.Archives {
    margin-bottom: 3em;
}

.cmts-main-left img {
    border: 3px solid #ccc;
}

.cmnts-right a:hover {
    background: #444;
    text-decoration: none;
}

.col-md-6.cmnts-left {
    padding: 0px;
}

.col-md-6.cmnts-right {
    text-align: right;
    padding: 0px;
}

.comments {
    margin-top: 3em;
}

/*---Contact----*/
.contact-content {
    padding: 4em 0 3em 0;
    background: #F7F7F7;
}

.contact-grids {
    margin-top: 3em;
}

.contact-head {
    background: #444;
    padding: 1em 0;
}

.contact-head h3 {
    color: #f7ec13;
    font-size: 2em;
    text-align: left;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}

.e-mail p {
    font-size: 14px;
    margin: 1em 0 0 0;
    color: #473B3B;
    line-height: 1.8em;
    text-align: center;
}

.contact-grids h3 {
    font-size: 36px;
    margin: 0;
    color: #473B3B;
    text-align: center;
}

.contact-form h3 {
    font-size: 36px;
    margin: 0;
    color: #473B3B;
    text-align: center;
}

.contact-form form {
    margin: 2em 0 0 0;
}

.contact-form input[type="text"] {
    width: 32.6%;
    color: #898888;
    background: none;
    outline: none;
    font-size: 14px;
    padding: .5em;
    margin: 0 .5em 1em 0;
    border: solid 1px #D5D4D4;
    -webkit-appearance: none;
}

.contact-form input[type="text"]:nth-child(3) {
    margin-right: 0;
}

.contact-form textarea {
    resize: none;
    width: 100%;
    color: #898888;
    background: none;
    font-size: 14px;
    outline: none;
    padding: .5em;
    border: solid 1px #D5D4D4;
    min-height: 150px;
    -webkit-appearance: none;
}

.contact-form input[type="submit"] {
    border: none;
    outline: none;
    color: #FFF;
    padding: .5em 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #666666;
}

.contact-form input[type="submit"]:hover {
    background: #ff4c4c;
}

.address-grids {
    margin-top: 2em;
}

.address-grid {
    width: 80%;
    margin: 0 auto;
}

.address-grid h5 {
    font-size: 20px;
    margin: 0 0 1em 0;
    color: #473B3B;
    text-align: center;
    line-height: 1.5em;
}

.address-grid h5 span {
    display: block;
}

.address-info-left {
    float: left;
}

.address-info-left p {
    font-size: 14px;
    margin: 0;
    color: #473B3B;
    line-height: 1.8em;
}

.address-info-right {
    float: right;
}

/*---------/footer-------*/
.footer-section {
    padding: 1em 0 1.5em 0;
    background: #FFF;
}

.footer-grids {
    padding-top: 1em;
}

.footer-grid h3 {
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #414242;
    text-align: left;
    margin: 3% auto 4%;
}

.footer-grid.bottom-nav ul, .footer-grid.category ul, .footer-grid.brands ul, .footer-grid.contact ul {
    margin: 0;
    padding: 0;
}

.footer-grid.bottom-nav ul li, .footer-grid.category ul li, .footer-grid.brands li, .footer-grid.contact-list ul li {
    display: block;
    list-style: none;

}

.footer-grid.bottom-nav li a:hover {
    text-decoration: none;
    color: #000;
}

.footer-grid.bottom-nav ul li a, .footer-grid.category ul li a, .footer-grid.brands ul li a, .footer-grid.contact ul li a {
    font-weight: 400;
    font-size: 0.9em;
    text-decoration: none;
    color: #444;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    margin-top: 3px;
    line-height: 24px;
}

.contact-list ul {
    padding: 0;
    margin: 0;
}

.contact-list ul li {
    color: #444;
    font-size: 0.9em;
    display: block;
    line-height: 24px;
}

.bottom-icons li a:hover, .footer-grid.bottom-nav ul li a:hover, .footer-grid.category ul li a:hover, .footer-grid.brands ul li a:hover, .footer-grid.contact ul li a:hover {
    text-decoration: none;
    color: #ff4c4c;
}

.copy-right-section {
    background: #C5C5C5;
    padding: 0.5em 0;
}

ul.soc_icons2 {
    padding: 0;
    list-style: none;
}

ul.soc_icons2 li i {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url('../../web/images/footer-icons.png') no-repeat;
    vertical-align: middle;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

ul.soc_icons2 li i:hover {
    opacity: 0.5;
}

ul.soc_icons2 li a:hover {
    text-decoration: none;
}

ul.soc_icons2 li a i.icon_4 {
    background-position: 3px -0px;
}

ul.soc_icons2 li a i.icon_5 {
    background-position: -38px -0px;
}

ul.soc_icons2 li a i.icon_6 {
    background-position: -78px -0px;
}

.copy-right {
    float: left;
    margin-top: 14px;
}

.social-icons {
    float: right;
    margin-top: 12px;
}

ul.soc_icons2 {
    padding: 0;
    text-align: right;
}

ul.soc_icons2 li {
    margin-right: 4px;
    display: inline-block;
}

.copy-right p {
    font-size: 14px;
    color: #000;
    margin: 0;
}

.copy-right p a {
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    text-decoration: none;
}

.copy-right p a:hover {
    color: #000;
    text-decoration: none;
}

/*---works-----*/
.gallery {
    background: #F7F7F7;
}

.works {
    padding: 3em 0 3.3em 0;
}

.gallery-box:hover span.rollover1 {
    background: url(../../web/images/link2.png) center no-repeat rgba(0, 0, 0, 0.42);
    cursor: pointer;
    height: 172px;
    width: 259px;
    display: block;
    position: absolute;
    z-index: -9999px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.gallery-box span.rollover1 {
    height: 173px;
    width: 277px;
}

.gallery-box {
    padding: 0;
    width: 22.72%;
    float: left;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin: 0px 15px 33px 11px;
}

.works.main h3 {
    color: #fff;
    font-size: 2.5em;
    text-decoration: none;
    font-weight: 700;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    text-align: center;
}

.section.group {
    margin: 0% 0 0% 0;
}

.gallery-box img {
    width: 100%;
}

/*---- responsive-design -----*/
@media (max-width: 1024px) {
    .header-section {
        min-height: 800px;
    }

    .header-grids {
        margin-top: 2em;
    }

    .header-logo {
        margin-left: 26em;
    }

    .feature-text-right h3 {
        font-size: 16px;
    }

    .feature-text-right p {
        font-size: 13px;
    }

    .feature-text-left {
        width: 21%;
    }

    .accordation_menu label {
        padding: 6px 4px 6px 14px;
    }

    li.date_desc p {
        font-size: 13px;
        line-height: 1.5em;
        margin: 0;
    }

    .wmuSliderNext {
        background-position: -45px -0px;
        right: 152px;
    }

    .wmuSliderPrev {
        background-position: 2px -0px;
        left: 143px;
    }

    .sub-header.two {
        padding: 0em 0;
        text-align: center;
        width: 93.55%;
        left: 4.5%;
        top: 63%;
    }

    .logo {
        margin: 11em 0 0 0;
    }

    .logo.two {
        text-align: center;
        position: absolute;
        top: 16%;
        left: 31%;
    }

    a.dow-btn {
        padding: 0.7em 1em;
        font-size: 1.1em;
        width: 53%;
    }

    .error-page {
        padding: 6em 2em;
        border: 2px solid #fff;
        width: 54%;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }

    .col-md-4.admin-img img {
        width: 100%;
    }

    .admin-text p {
        font-size: 13px;
        overflow: hidden;
        height: 36px;
    }

    .contact-form input[type="text"] {
        width: 32.5%;
    }

    .gallery-box:hover span.rollover1 {
        height: 137px;
        width: 208px;
    }

    .gallery-box {
        width: 22%;
    }
}

@media (max-width: 768px) {
    .about-logo {
        margin: 7em 0 0 0;
    }

    .header-logo {
        margin-left: 15em;
    }

    .header-grid-info {
        float: left;
        width: 33.33%;
    }

    .header-grid {
        padding: 1em 1em;
    }

    .header-grid-img h3 {
        font-size: 22px;
    }

    .sub-header.two {
        padding: 0em 0;
        text-align: center;
        width: 93.55%;
        left: 4.5%;
        top: 98%;
        z-index: 9999;
    }

    .sub-header {
        width: 92.55%;
        left: 4%;
        top: 29%;
        z-index: 9999;
    }

    .blog-content-left {
        float: none;
        width: 97%;
    }

    .blog-content-right {
        float: none;
        width: 98%;
        margin-top: 1em;
    }

    .col-md-4.admin-img img {
        width: 10%;
    }

    .blog-content {
        margin: 1em 0 1em;
    }

    .callbacks_tabs {
        top: 365px;
        left: 42.5%;
    }

    div#Welcome {
        padding: 1em 0 3em 0;
    }

    a.button.rotate2 {
        font-size: 1.2em;
        padding: 0.8em 1.6em;
        margin-bottom: 1em;
    }

    .wmuSlider {
        position: relative;
        overflow: hidden;
        min-height: 213px;
    }

    #testimonials {
        background: url(../images/slide.png) repeat-y;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        min-height: 187px;
    }

    .wecome-text h1 {
        font-size: 3.6em;
    }

    .feature-text {
        float: left;
        width: 50%;
    }

    .feature-text:nth-child(3) {
        margin-top: 3em;
    }

    .feature-text:nth-child(4) {
        margin-top: 3em;
    }

    .feature-accord {
        float: left;
        width: 50%;
        margin-top: 3em;
    }

    .footer-grid {
        float: left;
        width: 50%;
    }

    .cmts-main-left {
        float: left;
        width: 25%;
    }

    .cmts-main-right {
        float: left;
        width: 75%;
    }

    .header-section2 {
        background: url(../img/bg1.jpg) no-repeat 0px -170px;
    }

    .slide-text p {
        font-size: 1.3em;
    }

    .wmuSliderNext {
        background-position: -45px -0px;
        right: 54px;
    }

    .wmuSliderPrev {
        background-position: 2px -0px;
        left: 41px;
    }

    .client-main {
        margin: 0 auto;
        width: 90%;
        padding: 9% 0;
    }

    .team1 img {
        max-width: 82%;
    }

    .team h4 {
        font-size: 1.2em;
    }

    .team p {
        font-size: 1em;
        overflow: hidden;
        height: 50px;
    }

    .nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
        margin-top: -2em;
    }

    .portfolio-wrapper-1 {
        left: 0em;
        margin-right: 1em;
        width: 47%;
        margin: 0px 7px 7px 0px;
    }

    a.dow-btn {
        padding: 0.7em 1em;
        font-size: 1.1em;
        width: 37%;
    }

    .b-animate img {
        margin-top: 16%;
    }

    .error-page {
        padding: 6em 2em;
        width: 79%;
    }

    .contact-form input[type="text"] {
        width: 32.3%;
    }

    .contact-grids h3 {
        font-size: 26px;
    }

    .address-text {
        float: left;
        width: 33.33%;
    }

    .address-grid {
        width: 100%;
    }

    .address-grid h5 {
        font-size: 18px;
    }

    .event-feature-accord {
        width: 100%;
    }

    .about-grid {
        float: left;
        width: 33.33%;
    }

    .about-grid-info {
        width: 65% !important;
    }

    .about-grid .price {
        top: 0px;
    }

    .gallery-box {
        width: 46%;
    }

    .about-grids-left {
        margin: 0 0 2em 0;
    }

    .about-grids-top:nth-child(2) {
        margin: 2em 0;
    }

    .about-main {
        padding: 1em 0;
    }

    .weekday-grids {
        width: 100%;
    }

    .weekday-right {
        width: 79%;
    }
}

@media (max-width: 640px) {
    .header-top {
        padding: 3em 0 0 0;
    }

    .header-logo {
        margin-left: 14em;
        width: 27%;
    }

    .header-logo a img {
        width: 100%;
    }

    .search-form {
        width: 30%;
    }

    .header-grid-info {
        float: left;
        width: 33.33%;
    }

    .header-grid-img h3 {
        font-size: 19px;
    }

    .header-grids {
        margin-top: 4em;
    }

    .header-grid {
        padding: 2em 1em;
    }

    .header-section {
        min-height: 545px;
    }

    .reply input[type="text"] {
        width: 47%;
    }

    .contact-form input[type="text"] {
        width: 32%;
    }

    .address-text {
        width: 50%;
    }

    .address-text:nth-child(3) {
        display: none;
    }

    .blog-artical-basicinfo li.post-date {
        margin: 10.6em auto 0 -1.5em;
    }

    .blog-artical-basicinfo li.post-date.one {
        margin: 7.9em auto 0 -1.9em;
    }

    .blog-artical-basicinfo li.post-date.two {
        margin: 7.8em auto 0 -2em;
    }

    .main-about h4 {
        font-size: 1.15em;
    }

    .nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
        margin-top: 2em;
    }

    .ourteam h3 {
        font-size: 2em;
    }

    .client-main {
        padding: 12% 0;
    }

    a.dow-btn {
        padding: 0.7em 1em;
        font-size: 1.1em;
        width: 46%;
    }

    .Error-found h4 {
        font-size: 4em;
    }

    .error-page h3 {
        font-size: 15em;
    }

    .blog-artical-info-head h2 a {
        font-size: 0.67em;
    }

    .price {
        width: 100px;
        height: 100px;
        line-height: 96px;
        font-size: 50px;
    }

    .price span {
        font-size: 26px;
    }

    .gallery-box:hover span.rollover1 {
        height: 177px;
        width: 268px;
    }

    .price {
        width: 80px;
        height: 80px;
        line-height: 83px;
        font-size: 36px;
    }
}

@media (max-width: 480px) {
    .header-logo {
        margin: .5em 0 0 10em;
        width: 27%;
    }

    .search-form input[type="text"] {
        background: url(../images/search.png) no-repeat 8px 14px;
        border: solid 1px #000;
        padding: .7em .7em .7em 2em;
    }

    .header-grids {
        margin-top: 2em;
    }

    .menu {
        font-size: 14px;
        padding: 17px 25px;
    }

    .header-grid-info {
        float: none;
        width: 100%;
    }

    .header-grid-info:nth-child(2) {
        margin: 1em 0;
    }

    .header-grid-img img {
        width: 23%;
        border: solid 6px #DADADA;
    }

    .header-grid {
        padding: 1em 1em;
    }

    .header-grid-img h3 {
        margin: .5em 0 0 0;
    }

    .header-grid-img p {
        padding: .5em 0 0 0;
    }

    .header-top {
        padding: 3em 0 2em 0;
    }

    .about-main h3 {
        font-size: 1.5em;
    }

    .about-main h4 {
        font-size: 1em;
    }

    .header-section {
        min-height: 560px;
    }

    .blog-artical-basicinfo li.post-date {
        margin: 10.6em auto 0 -1.5em;
    }

    .blog-artical-basicinfo li.post-date.one {
        margin: 7.9em auto 0 -1.9em;
    }

    .blog-artical-basicinfo li.post-date.two {
        margin: 7.8em auto 0 -2em;
    }

    .featured-section {
        padding: 2em 0;
    }

    .single-head h2 {
        font-size: 1.4em;
    }

    .Error-found h4 {
        margin-top: .5em;
    }

    .contact-form input[type="text"] {
        width: 100%;
    }

    .main-about h4 {
        font-size: 1.15em;
    }

    .nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
        margin-top: 2em;
    }

    .contact-content {
        padding: 3em 0 3em 0;
    }

    .ourteam h3 {
        font-size: 2em;
    }

    .client-main {
        padding: 12% 0 0 0;
    }

    a.dow-btn {
        padding: 0.7em 1em;
        font-size: 1.1em;
        width: 46%;
    }

    .callbacks_tabs {
        top: 176px;
        left: 42.5%;
    }

    .main-about h4 {
        font-size: 1.05em;
    }

    .slide-text p {
        font-size: 1.1em;
    }

    .wmuSlider {
        min-height: 192px;
    }

    .b-animate img {
        margin-top: 7%;
    }

    a.dow-btn {
        padding: 0.7em 1em;
        font-size: 1.1em;
        width: 60%;
    }

    .featured-section h2 {
        font-size: 1.5em;
    }

    .error-page {
        padding: 3em 1em;
        width: 89%;
    }

    .Error-found {
        padding: 5em 0;
    }

    .Error-found h4 {
        font-size: 3em;
    }

    .error-page h3 {
        font-size: 14em;
    }

    ul.soc_icons2 {
        padding: 0;
        text-align: center;
    }

    .error-page h3 {
        font-size: 6em;
    }

    .services h3 {
        font-size: 1.4em;
    }

    a.button.rotate2 {
        font-size: 14px;
    }

    .feature-text-left {
        width: 20%;
    }

    .portfolio-wrapper-1 {
        left: 0em;
        margin-right: 1em;
        width: 97%;
        margin: 0px 7px 7px 0px;
    }

    h3.m_3 {
        font-size: 1.3em;
        margin: 0;
    }

.708
    h3 {
        font-size: 2em;
    }

    .feature-text h3 {
        font-size: 16px;
    }

    .feature-text p {
        font-size: 13px;
    }

    a.button.rotate2 {
        font-size: 12px;
    }

    .portfolio-wrapper-1 h4 {
        font-size: 1em;
    }

    .error-page {
        padding: 3em 1em;
        width: 82%;
    }

    .post-date span {
        font-size: 1em;
    }

    .Error-found h4 {
        font-size: 1.5em;
    }

    .Error-found p {
        font-size: 1em;
    }

    .blog-artical-info-head h2 a {
        font-size: 0.57em;
    }

    .blog-artical-info-head h2 a {
        font-size: 0.5em;
        margin: 0.2em 0 0 0;
    }

    .blog-artical-basicinfo li.post-date {
        margin: 11em auto 0 -3em;
    }

    .post-date label {
        font-size: 13px;
    }

    .blog-artical-basicinfo li.post-date.one {
        margin: 8.2em auto 0 -2.9em;
    }

    .blog-artical-basicinfo li.post-date.two {
        margin: 8.2em auto 0 -3em;
    }

    ul.dc_pagination li {
        margin: 4px 0 0 0;
    }

    .about-grid {
        width: 40%;
    }

    .about-grid-info {
        width: 60% !important;
    }

    .price {
        width: 64px;
        height: 64px;
        line-height: 64px;
        font-size: 30px;
    }

    .price span {
        font-size: 18px;
    }

    .gallery-box {
        width: 43.99%;
    }

    .gallery-box:hover span.rollover1 {
        height: 127px;
        width: 190px;
    }

    .weekday-img {
        float: none;
        width: 32%;
        margin: 0 auto;
    }

    .weekday-right {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 320px) {
    .menu {
        font-size: 13px;
        padding: 12px 8px;
    }

    .header-section {
        min-height: 520px;
    }

    .header-logo {
        margin: 0em 0 0 7em;
        width: 42%;
    }

    .header-top {
        padding: 2em 0;
    }

    .header-grid-info {
        width: 100%;
        padding: 0;
    }

    .header-grid-img h3 {
        font-size: 16px;
    }

    .header-grid-img p {
        font-size: 13px;
        line-height: 1.4em;
    }

    .header-grid-img img {
        width: 30%;
        border: solid 4px #DADADA;
    }

    .search-form {
        display: none;
    }

    .feature-text img {
        width: 99%;
    }

    .feature-accord {
        float: none;
        width: 100%;
    }

    .featured-section h2 {
        font-size: 1.2em;
    }

    .top-nav ul li a {
        padding: 0.5em 0.5em;
        font-size: 1em;
    }

    a.button.rotate2 {
        font-size: 1em;
        padding: 0.6em 1em;
        margin-bottom: 1em;
    }

    .wecome-text span {
        font-size: 1em;
    }

    .header-grids {
        margin-top: 3em;
    }

    .wecome-text p {
        font-size: 13px;
    }

    .feature-text {
        float: none;
        width: 100%;
    }

    .feature-text:nth-child(2) {
        margin: 1em 0;
    }

    .feature-text-left {
        width: 21%;
    }

    .feature-text-right {
        width: 73%;
    }

    .feature-text h3 {
        font-size: 1.06em;
    }

    h3.m_3 {
        font-size: 1.4em;
    }

    span.m_5 {
        font-size: 14px;
    }

    .accordation_menu label {
        display: block;
        position: relative;
        padding: 9px 14px;
        height: 43px;
        font-size: 14px;
        width: 235px;
    }

    .footer-grid {
        float: none;
        width: 100%;
    }

    .icon-minus-sign:after {
        content: "";
        background: url(../images/plus.png) no-repeat;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 16px;
    }

    .copy-right {
        float: none;
        text-align: center;
    }

    .social-icons {
        float: none;
        margin-top: 10px;
        text-align: center;
    }

    .copy-right-section {
        padding: 0.5em 0;
    }

    .client-main {
        padding: 11% 0 0 0;
    }

    div#Welcome {
        padding: 1em 0 2em 0;
    }

    .sale-box span.on_sale {
        font-size: 1em;
    }

    .slide-text p {
        font-size: 1em;
        overflow: hidden;
        height: 50px;
    }

    .Error-found {
        padding: 3em 0 2em 0;
    }

    .wmuSlider {
        min-height: 88px;
    }

    a.dow-btn {
        padding: 0.6em 0.6em;
        font-size: 1em;
        width: 45%;
    }

    .header-section2 {
        min-height: 104px;
    }

    a.offer-btn {
        font-size: 13px;
    }

    .single-head h2 {
        font-size: 1.2em;
    }

    .blog-artical-info-head ul li a, .blog-artical-info-head ul li {
        margin: .2em 0;
    }

    .blog-artical-info-text p {
        font-size: 13px;
    }

    .blog-content-left {
        width: 100%;
    }

    .reply {
        margin-top: 0em;
    }

    #testimonials {
        background: url(../images/slide.png) repeat-y;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        min-height: 119px;
    }

    .slide-text {
        width: 91%;
    }

    .wmuSliderNext {
        background-position: -45px -0px;
        right: 17px;
    }

    .wmuSliderPrev {
        background-position: 2px -0px;
        left: 12px;
    }

    .logo.two {
        position: absolute;
        top: 9.5%;
        left: -19%;
    }

    .sub-header.two {
        width: 93.55%;
        left: 4.5%;
        top: 99%;
    }

    span.menu.two {
        right: 18px;
        top: -45px;
    }

    .contact-head h3 {
        font-size: 1.1em;
    }

    .logo {
        margin: 0.3em 0 0 0;
    }

    .contact-head {
        padding: 0.5em 0;
    }

    .contact-content {
        padding: 2em 0 2em 0;
    }

    .contact input[type="text"], .contact textarea {
        padding: 8px;
        width: 100%;
        font-size: 13px;
    }

    .contact form textarea {
        width: 100%;
        height: 128px;
    }

    .contact-part input[type="submit"] {
        padding: 0.5em 1em;
        font-size: 1em;
        width: 100%;
    }

    .address-text {
        float: none;
        width: 100%;
        padding: 0;
    }

    .address-text:nth-child(2) {
        margin-top: 1em;
    }

    li.date_desc p {
        font-size: 0.95em;
    }

    .about-main h3 {
        font-size: 1.2em;
    }

    .main-about h4 {
        font-size: 0.9em;
    }

    .main-about {
        padding: 0.3em 0 2em 0;
    }

    .feature-text p {
        font-size: 1em;
    }

    .main-text p.para, p.para1 {
        font-size: 0.9em;
    }

    span.menu {
        right: 16px;
        top: 24px;
    }

    .blog-artical-info-head h2 a {
        font-size: 0.5em;
        margin: 0.2em 0 0 0;
    }

    .blog-artical-basicinfo li.post-date {
        margin: 12.6em auto 0 -2.5em;
    }

    .post-date span {
        font-size: 0.95em;
        margin-right: 3em;
    }

    .post-date label {
        font-size: 12px;
        margin-top: 0.6em;
        margin-right: 4em;
    }

    .cl-effect-20 a span {
        font-size: 13px;
    }

    .blog-artical-basicinfo li.post-date.one {
        margin: 9.7em auto 0 -2.9em;
    }

    .blog-artical-basicinfo li.post-date.two {
        margin: 9.6em auto 0 -2.7em;
    }

    ul.dc_pagination li a {
        padding: 6px 13px 5px 12px;
        font-size: 0.9em;
        margin-top: 0px;
    }

    ul.dc_pagination li {
        margin: 2px 0;
    }

    .categories h3, .Archives h3 {
        font-size: 1.1em;

    }

    .reply input[type="text"] {
        width: 98%;
        font-size: 14px;
        padding: 8px 8px;
        margin: 0px 10px 1em 0px;
    }

    .contact-icons ul li a span {
        display: block;
    }

    .reply textarea {
        width: 98%;
        font-size: 14px;
        padding: 8px 8px;
        min-height: 6em;
    }

    .reply h4 {
        font-size: 1.2em;

    }

    .comments h4 {
        font-size: 1.3em;

    }

    .blog-artical-basicinfo {
        display: none;
    }

    .map iframe {
        width: 100%;
        height: 155px;
    }

    .error-page h3 {
        font-size: 4em;
    }

    .services h3 {
        font-size: 1.2em;
    }

    .portfolio-wrapper-1 {
        left: 0em;
        margin-right: 1em;
        width: 97%;
        margin: 0px 7px 7px 0px;
    }

    button#showRightPush img {
        width: 71%;
    }

    .gallery-box {
        width: 43.99%;
        margin: 0px 3px 3px 11px;
    }

    .gallery-box:hover span.rollover1 {
        height: 80px;
        width: 121px;
    }

    .about-grid {
        width: 100%;
        float: none;
    }

    .about-grid-info {
        width: 100% !important;
        margin-top: 1em;
    }

    .weekday-info h3 {
        font-size: 24px;
    }
}